*{
    background-color:#e8e8e8;
    font-family: sans-serif;
}

nav.navbar{
    width: 100%;
    height: 50px;
    background-color: white;
    /* position: fixed; */
}
nav.navbar a, nav.navbar p{
    background-color: white;
}

div.post{
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
div.post article, div.post p, div.post a{
    background-color: white;
}

div.post img{
    max-width: 300px;
}

.profilepic{
    max-width: 45px;
    height: 45px;
    border-radius: 40px;
    margin-bottom: 5px;
    float: left;
}

div.post .name{
    float: right;
}

div.grid-container{
    display: grid;
    /* grid-gap: 10px; */
}

div.detail{
    background-color: white;
    width: 90%;
    margin: 20px 5%;
    display: grid;
    grid-column: 60% 40%;
}
div.detail img{
    max-width: 700px;
    max-height: 700px;
}


@media only screen and (min-width:680px){
    div.grid-container{
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width:1020px){
    div.grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (min-width:1360px){
    div.grid-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}