*{
    background-color:#e8e8e8;
}

div.post{
    width: 300px;
    width: 200px;
    /* min-height: 400px; */
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

div.post img{
    width: 300px;
}

div.grid-container{
    display: inline-grid;
    grid-column: 25% 25% 25% 25%;
    /* grid-row-gap: 50px;
    grid-column-gap: 20px; */
}